body {
margin-left: 165px;
}

@mixin butts_dark {
    background: #111B47;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    width: 160px;
    border-radius: 2px;
    &:hover {
        background-color: #081037;
        transform: 1s;
    }
}

header {
    position: relative;
    padding-right: 165px;
    justify-content: space-between;
    box-sizing: border-box;

        img {
            position: absolute;
            right: 0px;
            z-index: -1;
        }
        
    .nav {
      
        .nav-link {
            color: #505F98;

        }
    }

        svg {
            text-align: center
        }

        .btn {
            @include butts_dark;
            position: absolute;
            margin-top: 5px;
            z-index: 2;
        }
    }



@mixin paragraphs {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #505F98;
    z-index: 3;
}


.container-left {
    width: 40%;
    height: 800px;
    margin-top: 260px;
    p {
        @include paragraphs
    }

    .btn {
        @include butts_dark()
    }

    .btn-light {
        background-color: #E7ECFF;
        border: 2px solid #091133;
        border-radius: 2px;
        color: #091133;
        
        &:hover {
           background-color: #7a7d8a;
           transform: 1s;
        }
    }
}

@mixin sect_h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    color: #091133;  
}

.sect_2 {
    height: 742px;

    .girl {
        position: absolute;
        right: 165px;
        margin-top: -30px;
    }

    .second{
        margin-left: 0px;
        padding-left: 0px;
        width: 45%;
      
        h2 {
            @include sect_h2();
            margin-top: 160px
        }

        p {
            @include paragraphs;
        }
    }

  
    .icon {
        margin-top: 80px;
        div{
            width: 23%;
            h3 {
                margin-top: 14px;
                margin-bottom: 6px;
                @include sect_h2;
                font-size: 16px;
                line-height: 26px;
                font-weight: 800;
            }
        }
    }
}

.variant {
    margin-bottom: 150px;

.images {
    width: 50%;
    img {
        margin-right: 155px;
       
    }
}
    div{
        width: 45%;
       
        h2 {
            @include sect_h2();
        }

        p {
            @include paragraphs;
        }
}
}

.last_sect {
    background-image: url(../img/fon.png);
    height: 500px;
    margin-left: -165px;
    background-repeat: no-repeat;
    height: 804px;
    text-align: center;
    
    .last {
        position: absolute;
        text-align: center;
        margin-top: 237px;
      width: 50%;
      margin-left: 360px;
    }
        h2 {
            @include sect_h2();
        }

        p {
            @include paragraphs();
            
        }

        .btn {
            @include butts_dark();
        }
    .last__p {
        margin-top:60px;
         color: #5D6970;
    }

    .last__h2 {
        font-size: 50px; 
        margin-top: 60px;
    }
    }

    footer {
        background-color: #E7ECFF;
        height: 216px;
        margin-left: -165px;
        box-sizing: border-box;

        .footer_top {
            padding-top: 68px;
            justify-content: space-between;
            margin-left: 165px;
            margin-right: 165px;
            p {

                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
                color: #939EA4;
                
            }

            .btn { 
                @include butts_dark();
            }
        }

        .footer_bottom {
            margin-left: 165px;

            .nav-link {
                margin-right: 40px;
            }
        }

        .final {
            margin-right: 165px;

            a {
                margin-right: 40px;
            }
        }
    }


    @media  (max-width: 1200px) {
        body {
            margin-left: 120px;
            }
    
        header {
            img {
                position: absolute;
                right: 0px;
                width: 70%
            };
        }
    
        .sect_1 {
            height: 500px;
        }
    
        .sect_2{
            .girl  {
                position: absolute;
                right: 0px;
                margin-top: -30px;
                z-index: -1;
                width: 50%;
            }
        }
    
        .images {
            img {
                width: 80%;
            }
        }
    
        .last_sect {
            background-image: url(../img/fon.png);
            background-repeat: no-repeat;
            background-position-x: 50%;
            height: 804px;
            text-align: center;
        }
        footer {
    
            .footer_top {
                margin-left: 100px;
                margin-right: 80px;
            }
    
            .footer_bottom {
                margin-left: 100px;
            }
    
            .final {
                margin-right: 40px;
            }
        }
    }



    @media  (max-width: 992px) {
        body {
            margin-left: 70px;
            }
    
        header {
            padding-right: 80px;

            img {
                position: absolute;
                right: 0px;
                width: 70%;
            }

            .logo {
                margin-left: -90px;
            }
        }
    
        .sect_1 {
            height: 400px;

            .container-left {
                margin-top: 120px;
                div {
                    display: flex;
                }
            }
        }
    
        .sect_2{
            .girl  {
                position: absolute;
                right: 0px;
                margin-top: -30px;
                z-index: -1;
                width: 50%;
            }
        }
    
        .images {
            img {
                width: 80%;
            }
        }
    
        .last_sect {
            background-image: url(../img/fon.png);
            background-repeat: no-repeat;
            height: 804px;
            text-align: center;

            .last {
                margin-left: 340px;
            }
        }
        footer {
    
            .footer_top {
                margin-right: 50px;
                margin-left: 150px;
            }
    
            .footer_bottom {
                margin-left: 150px;
            }
    
            .final {
                margin-right: 10px;
            }
        }
    }

    @media  (max-width: 776px) {
        body {
            margin-left: 50px;
            }
    
        header {
            padding-right: 50px;

            img {
                position: absolute;
                right: 0px;
                height: 800px;
                width: 100%;
            }

            .logo {
                margin-left: -90px;
            }
        }
    
        .sect_1 {
            height: 400px;

            .container-left {
                margin-top: 90px;
                div {
                    display: flex;
                }
            }
        }
    
        .sect_2{
            .girl  {
                position: absolute;
                right: 0px;
                margin-top: -30px;
                z-index: -1;
                width: 50%;
            }

            .icon {
                justify-content: space-around;
                margin-left: -50px;
            }
        }
    
        .images {
            img {
                width: 80%;
            }
        }
    
        .last_sect {
            background-image: url(../img/fon.png);
            background-repeat: no-repeat;
            height: 804px;
            text-align: center;

            .last {
                margin-left: 320px;
            }
        }
        footer {
    
            .footer_top {
                margin-right: 50px;
                margin-left: 150px;
            }
    
            .footer_bottom {
                margin-left: 150px;
            }
    
            .final {
                margin-right: 10px;
                a {
                    margin-right: 30px;
                }
        
            }
        }
    }

    @media  (max-width: 576px) {

        body {
            width: 100%;
            margin-left: 20px;
            }

        .btn {
            width: 80px;
        }
    
        header {
            padding-right: 20px;

            .nav {
                width: 30%;
            }

            img {
                position: absolute;
                right: 0px;
                height: 800px;
               
                width: 100%;
            }

            .logo {
                margin-left: 0px;
            }
        }
    
        .sect_1 {
            height: 450px;

            .container-left {
                margin-top: 50px;
                div {
                    display: flex;
                }
            }
        }
    
        .sect_2{
            height: 800px;
            .girl  {
                position: absolute;
                right: 0px;
                margin-top: -30px;
                z-index: -1;
                width: 50%;
               
                
            }

            .icon {
                justify-content: space-around;
                margin-left: -50px;
            }
        }
    
        .variant {
            margin-bottom: 100px;
            .images {
                img {
                    width: 80%;
                }
            }

            div {
                width: 40%;
            }
        }
    
        .last_sect {
            background-image: url(../img/fon.png);
            background-repeat: no-repeat;
            height: 704px;
            text-align: center;

            .last {
                margin-left: 300px;
                margin-top: 100px;
            }
        }
        footer {
    
            .footer_top {
                margin-left: 150px;
            }
    
            .footer_bottom {
                margin-left: 150px;

                a {
                    margin-right: 30px;
                }
            }
    
            .final {
                margin-right: 10px;
        
                    a  {
                        margin-right: 20px;
                    }
            
            }
        }
    }

    @media (max-width: 500px) {
        .sect_1 {
            height: 600px;

            .container-left {
                margin-top: 50px;
                width: 170px;
                div {
                    display: flex;
                }
            }
        }

        .sect_2{
            height: 1000px;
            
        }

        footer {

            .footer_top {
                margin-right: 25px;
                .btn {
                    width: 120px;
                }
            }
            .footer_bottom {
                margin-left: 150px;

                .footer_bottom__a{
                    margin-right: 15px;
                }
            }
        }

        .last_sect {

            .last {
                margin-left: 280px;
                margin-top: 100px;

            }
            .last__h2 {
                margin-top: 35px;
            }

            .last__p {
                margin-top: 25px;
            }
        }
    }    
    
   
    @media   (max-width: 399px){ 
       
        body {
            width: 100%;
            margin-left: 20px;
            }

    
        header {
            padding-right: 20px;

            .nav {
                width: 30%;
            }

            img {
                position: absolute;
                right: 0px;
                width: 90%;
        
                
            }

            .logo {
                margin-left: 0px;
            }
        }
    
        .sect_1 {
            height: 600px;

            .container-left {
                margin-top: 50px;
                width: 170px;
                div {
                    display: flex;
                }
            }
        }
    
        .sect_2{
            height: 1100px;
            .girl  {
                position: absolute;
                right: 0px;
                margin-top: -30px;
                z-index: -1;
                width: 50%;
            }

            .icon {
                justify-content: space-around;
                margin-left: -50px;
            }
        }
    
        .variant {
            margin-bottom: 80px;
            .images {
                img {
                    width: 80%;
                }
            }

            div {
                width: 40%;
            }
        }
       
    
        .last_sect {
            background-image: url(../img/fon.png);
            background-repeat: no-repeat;
            height: 754px;
            text-align: center;

            .last {
                margin-left: 250px;
                margin-top: 100px;
            }

            .last__h2 {
                margin-top: 25px;
            }

            .last__p {
                margin-top: 15px;
            }
        }
        footer {
    
            .footer_top {
                margin-right: 29px;
                margin-left: 150px;

                .btn {
                    width: 100px;
                }
            }
    
            .footer_bottom {
                margin-left: 150px;

                .footer_bottom__a{
                    margin-right: 15px;
                }
            }
    
            .final {
                margin-right: 10px;
        
                    a {
                        margin-right: 10px;
                    }
            
            }
        }
    }